SECRET_KEY = "dev"
ONSHAPE_CLIENT_ID = "replace this with the client ID received when registering an OAuth application"
ONSHAPE_CLIENT_SECRET = "replace this with the client secret received when registering an OAuth application"
